#navigation_bar{
	position: absolute;
	right: 1%;
	top: 1%;
	list-style-type:none; /* ul无样式 */
}
.navigation_bar_li{
	float:right;
}
.navigation_bar_a{
	display:block;
	font-weight:bold;
	color:#fff;
	text-align:center;
	padding:10px;
	text-decoration:none; /* 取消下划线 */
	text-transform:uppercase; /* 大写字母 */
}
.navigation_bar_a:hover{
	color: #008e59;
}